.cards {
    /*padding: 0 50px;*/
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 240px);
    min-width: 920px;
    /*flex-flow :row wrap;*/
    justify-content: space-around;
    /*align-content: stretch;*/
    
    /*border: tomato 1px solid;*/
}