.digits {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-content: center;
    font-family: 'Inter', Arial, sans-serif;
    /*border: 1px green solid;*/
    /*max-width: 1100px;*/
  }