.footer__column-link {
    text-decoration: none;
    color: whitesmoke;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    
    
}

.footer__column-link:nth-of-type(3n) {
    margin-bottom: 16px;
}

.footer__column-link:hover {
    opacity: 0.4;
}