.footer {
    background-color: #1f1f1f;
    /*border: orchid 1px solid;*/
    /*padding: 60px auto 40px;*/
    padding-top: 60px;
    padding-bottom: 40px;
    min-height: 350px;
    position: relative;
    box-sizing: border-box;
    flex-basis: 711px;
  }