.two-columns__brief {
    width: 175px;
   /* border: 1px solid green;*/
    line-height: 1.2;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    margin: 0;
    flex-direction: row;
  }